* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

.jumbo {
  background-color:#a9d7a9;
  padding-top: 45px;
  padding-bottom: 5px; 
  min-width: 100%;
  opacity: 90%;
}

img.shoppingLogo {
  background-color: #a9d7a9;
  border-radius: 5px;
}

Button#updateUserInfo {
  background-color:#a9d7a9;
  border-color: #a9d7a9;
  color: #000000;
  
}

Button.choice {
  background-color: #a9d7a9;
  border-color: #a9d7a9;
  color: #000000;
}

.iconImg {
  height: 100px;
  width: 100px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
}

.outerContainer {
  position: relative;
  padding-bottom: 80px;
}

.landingImage {
  padding-bottom: 40px;
}

.carouselPad {
  padding-top: 40px;
}

.greyBox {
  background-color:rgb(230, 227, 227);
  opacity: 95%;
  border-width: 0;
  border-radius: 5px;
}

.userInfoPad {
  padding-top: 10%;
}

@media screen and (max-width: 375px) {
  .carouselPad {
    padding-top: 0px;
  }
  .userInfoPad {
    padding-top: 0px;
  }
}