* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

.jumbo {
  background-color:#a9d7a9;
  padding-top: 45px;
  padding-bottom: 5px; 
}

Button#updateUserInfo, Button#logOut {
  background-color:#a9d7a9;
  color: black;
}
 